<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/asdf.css">
    <title>products-manage</title>
</head>

<body>
    <div id="main">
        <nav>
            <ul>
                <li>
                    <a href="#">products</a>
                </li>
                <li>
                    <a href="#">profile</a>
                </li>
                <li>
                    <a href="#">sale</a>
                </li>
                <li>
                    <a href="#">manage</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h2>Product Management</h2>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th>offer_price</th>
                        <th>discount</th>
                        <th>Image</th>
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                    <% products.forEach(product=> { %>
                        <tr>
                            <td><%= product.category %>&nbsp;</td>
                            <td><%= product.name %>&nbsp;</td>
                            <td><%= product.details %>&nbsp;</td>
                            <td><%= product.price %>&nbsp;</td>
                            <td><del><%= product.offer_price %></del>&nbsp;</td>
                            <td><%= product.discount %>%&nbsp;</td>
                            <td 
                             class="images-column"> <% product.imageUrls.forEach(imageUrl => { %>
                             <img src="<%= product.imageUrls %>"
                                    alt="<%= product.imageUrls %>">
                                    <% }); %>
                        </td>
                            <!-- <td
                             class="images-column"><img src="<%= product.imageUrls[0] %>"
                                    alt="<%= product.imageUrls[0] %>">
                                    
                                </td> -->
                            
                            <td><button class="delete-btn">Delete</button></td>
                        </tr>
                        <% }); %>
                </tbody>


                <script src="/javascripts/manage.js"></script>

        </div>
    </div>


</body>

</html>